<section class="home-section">
    <header>
        <img src="/assets/ar.png" alt="Alternative Route">
        <h1>Alternative Route</h1>    
    </header>
    <nav>
        <ul class="">
            <li><a routerLink="registro">No tengo cuenta</a></li>
            <li><a routerLink="servicios">Servicios</a></li>
            <li><a routerLink="login">Inicial Sesión</a></li>
        </ul>
    </nav>
    <article>
        Alternative Route, es otra forma de llegar a tus grupos, ideal parar educadores, coach, y tambien versatil para comunicaciones masivas.
    </article>
</section>

