.home-section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        background-color: whitesmoke;
        padding: 2% 5%;

        .logo {
            h1 {
                font-size: 45px;
                font-weight: 500;
            }
        }
    }

    .menu {
        .items {
            list-style: none;
            list-style-type: none;
            display: flex;
            
            a {
                text-decoration: none;
            }
        }
    }

    .items {
        .item {
            margin: 0 5px;
        }
    }

    article {
        padding: 15px 35px;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        place-items: flex-start;
        padding: 2% 5%;


        section {
            display: inline-block;
            width: 50%;
            padding-right: 24px;
        }

        &:nth-child(odd) {
            background-color: #eeeeee47;
        }
    }
}