<section class="home-section">
    <header>
        <div class="logo">
            <img src="/assets/ar.png" alt="Alternative Route">
            <h1>Alternative Route</h1>
        </div>
        <nav class="menu">
            <ul class="items">
                <li class="item"><a mat-button routerLink="registro">No tengo Cuenta</a></li>
                <li class="item"><a mat-button routerLink="servicios">Servicios</a></li>
                <li class="item"><a mat-button routerLink="admin">Inicial Sesión</a></li>
            </ul>
        </nav>
    </header>
    
    <article>
        <section>
            <p>Alternative Route, es otra forma de llegar a tus contactos que no tienen acceso a Zoom, Meet u otra plataforma moderna.</p>
            <p>Ideal parar educadores, coach, versatil para comunicaciones masivas.</p>
        </section>
        <img src="/assets/broadcast.png" alt="Broadcast">
    </article>
</section>

